.artistPage_nationality {
  padding: 1rem;
  font-size: 12px;
  display: flex;
}

.artistPage_name,
.artistPage_biography,
.artistPage_text {
  padding: 1rem;
  font-size: 16px;
}

.artistPage_artworksByArtistContainer {
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
}

.artistPage_artworkslist {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
