.my-masonry-grid {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  height: auto;
}
.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
  min-width: 300px;
}
.my-masonry-grid_column > div {
  margin-bottom: 30px;
}

.my-masonry-grid_column > div > img {
  max-height: 250px;
}

.artwork-container {
  position: relative;
  margin: 0;
  display: inline-block;
  width: 100%;
  max-width: 300px;
}

.artwork-image {
  width: 100%;
  display: block;
  height: auto;
  max-height: 250px;
  object-fit: cover;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 25px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  z-index: 10;
}

.close-button:hover {
  color: red;
}

@media (max-width: 500px) {
  .my-masonry-grid {
    justify-content: center;
  }
}

.selectionExhibitionArtwork {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: solid 2px black;
}

.exhibition {
  display: flex;
  flex-direction: row;
}
