.homePage_nav {
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.homePage_navButtons {
  min-width: 13ch;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--background-color);
  background-color: var(--text-color);
  border-radius: 10px;
  border: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.homePage_navButtons:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}
.homePage_temporaryEvent,
.homePage_discorverArtworks {
  display: flex;
  justify-content: center;
}

.homePage_artwork_container {
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  gap: 1rem;
}

.artworkcomponent_expo_img {
  min-height: 20ch;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.artworkcomponent_expo_img > * {
  text-decoration: none;
  color: var(--text-color);
}
