.homePage_nav {
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.homePage_navButtons {
  min-width: 13ch;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--background-color);
  background-color: var(--text-color);
  border-radius: 10px;
  border: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.homePage_navButtons:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.homePage_temporaryEvent,
.homePage_discorverArtworks {
  display: flex;
  justify-content: center;
}

.homePage_artwork_container {
  padding-inline: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.artworkcomponent_expo_img {
  min-height: 6rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.artworkcomponent_expo_img > * {
  text-decoration: none;
  color: var(--text-color);
}

.horizontal_scroll_carousel {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: column;
  grid-auto-columns: 80vw;
  overflow-x: auto;
  align-items: center;
  scroll-snap-type: x proximity;
  padding-inline: 10vw;

  > * {
    scroll-margin: 2rem;
    scroll-snap-align: start;
  }

  > :nth-child(odd) {
    background: hsl(0 0% 100% / 0.15);
    padding: 3rem;
  }
}

.horizontal_scroll_carousel img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.horizontal_scroll_carousel > figure {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 33.33% 33.33% 33.33%;
}

.horizontal_scroll_carousel > figure > figcaption {
  background-color: black;
  padding-inline: 1rem;
  color: rgb(245, 245, 245);
  text-align: center;
  align-content: center;
  border-radius: 10px;
  grid-column: 1/3;
  grid-row: 2/3;
  opacity: 0.6;
}

.horizontal_scroll_carousel > figure > Link > img {
  grid-column: 1/3;
  grid-row: 1/3;
}

.horizontal_scroll_carousel > figure > figcaption > h2 {
  font-size: 1.7rem;
  font-weight: 900;
}

@media (min-width: 548px) {
  .horizontal_scroll_carousel {
    grid-auto-columns: 30vw;
    margin: 0 auto;
  }
}
