.homePage_nav {
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.homePage_navButtons {
  min-width: 13ch;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--background-color);
  background-color: var(--text-color);
  border-radius: 10px;
  border: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.homePage_navButtons:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.homePage_temporaryEvent,
.homePage_discorverArtworks {
  display: flex;
  justify-content: center;
}

.homePage_artwork_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center;
}

.artworkcomponent_expo_img {
  padding: 1em;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 0.5em;
}

.artworkcomponent_expo_img > a > img {
  margin-bottom: 1rem;
  border-radius: 0.4em;
}

.artworkcomponent_expo_img > .figcaption_md.hidden {
  padding: 1em;
}

.horizontal_scroll_carousel {
  margin-block: 2em;
  display: grid;
  gap: 2rem;
  grid-auto-flow: column;
  grid-auto-columns: 80vw;
  overflow-x: auto;
  align-items: center;
  scroll-snap-type: x proximity;
  padding-inline: 20vw;
}

.horizontal_scroll_carousel > * {
  scroll-margin: 3.5rem;
  scroll-snap-align: start;
}

.horizontal_scroll_carousel img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px #0000001a;
}

.horizontal_scroll_carousel a {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 33.33% 33.33% 33.33%;
}

.horizontal_scroll_carousel figcaption {
  background-color: var(--text-color);
  color: var(--background-color);
  text-align: center;
  align-content: center;
  border-radius: 10px;
  grid-column: 1/3;
  grid-row: 2/3;
  opacity: 0.6;
}

.artworkcomponent_expo_img:nth-child(2n) div {
  order: -1;
}

.artworkcomponent_expo_img:nth-child(2n + 1) div {
  order: 1;
}

.horizontal_scroll_carousel > figure > Link > img {
  grid-column: 1/3;
  grid-row: 1/3;
}

.horizontal_scroll_carousel > figure > figcaption > h2 {
  font-size: 1.7rem;
  font-weight: 900;
}

@media (min-width: 992px) {
  .horizontal_scroll_carousel {
    grid-auto-columns: 70vw;
    grid-auto-flow: row;
    grid-auto-rows: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-inline: 0;
    margin-left: 10rem;
    padding-bottom: 2rem;
  }

  .artworkcomponent_expo_img {
    padding: 16px;
  }

  .artworkcomponent_expo_img > .figcaption_md.hidden {
    display: block;
    padding: 1rem;
  }

  .horizontal_scroll_carousel > figure {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20em;
  }

  .horizontal_scroll_carousel > figure > figcaption {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    opacity: 1;
    background-color: transparent;
    color: black;
  }

  .horizontal_scroll_carousel > figure > figcaption > p {
    font-size: 1rem;
    font-weight: 400;
  }

  .homePage_artwork_container {
    grid-template-columns: repeat(3, 1fr);
    padding-inline: 32px;
  }

  .artworkcomponent_expo_img:nth-child(2n -1) {
    background-color: var(--primary-color);
  }

  .artworkcomponent_expo_img:nth-child(2n) div {
    order: -1;
  }

  .artworkcomponent_expo_img:nth-child(2n + 1) div {
    order: 1;
  }

  .first_carousel_image {
    margin: 1.5rem 0;
  }
}

@media (max-width: 991px) {
  .artworkcomponent_expo_img:nth-child(4n-3),
  .artworkcomponent_expo_img:nth-child(4n-4) {
    background-color: var(--primary-color);
  }
}

.first_carousel_image {
  margin-top: 1.5rem;
}
