.navbarcomponent_navArea {
  width: 100%;
  height: 10svh;
  padding: 1rem;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarcomponent_logo_img {
  max-width: 8rem;
}

.navbarcomponent_list {
  display: flex;
}

.navbarcomponent_user_icon,
.navbarcomponent_favorite_icon,
.navbarcomponent_menu_icon {
  color: var(--text-color);
  width: 30px;
  margin-right: 2rem;
}
