.userpage_container {
  padding: 1.5rem 3rem;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; */
}

.title_userpage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_options {
  width: 100%;
  padding-inline: 2rem;
}

.user_options p,
.user_options a {
  margin-top: 2rem;
  text-align: end;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.5rem 0;
  border-bottom: 2px solid var(--text-color);
}
