:root {
  /*var()*/
  --primary-color: #f8e6cb;
  --secondary-color: #e0c1a8;
  --text-color: #090a09;
  --background-color: #f5f5f5;
  --accent-color: #d8b192;
  --font-family-primary: Montserrat-Regular;
  /* --font-family-secondary: ; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}
