@font-face {
  font-family: "Montserrat-Regular";
  src: url("./assets/font/Montserrat-Regular.ttf");
}

:root {
  --primary-color: #f8e6cb;
  --secondary-color: #e0c1a8;
  --text-color: #090a09;
  --background-color: #f5f5f5;
  --accent-color: #d8b192;
  --important-color: #800020;
  --important-background-color: #ff7c9d;
  --validate-color: #1db189;
  --validate-background-color: #2ef9c2;
  --font-family-primary: Montserrat-Regular;
  --text-opacity: #0000001a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-primary);
  font-size: 12px;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

.App_sizePage {
  height: 100vh;
}

img,
figure {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  text-wrap: pretty;
}
