.personalInformationsPage_title {
  width: 100%;
  height: 8rem;
  padding: 1rem;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  font-size: 24px;
}

.personalInformationsPage_form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.personalInformationsPage_inputIcon {
  position: relative;
  width: 100%;
}

.personalInformationsPage_input {
  width: 100%;
  height: 4rem;
  padding: 1rem;
  padding-left: 6rem;
  border-radius: 8px;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-repeat: no-repeat;
  background-position: 1rem center;
  background-size: 2rem;
}

.personalInformationsPage_name {
  background-image: url("../../icons/tag.svg");
}

.personalInformationsPage_email {
  background-image: url("../../icons/mail.svg");
}

.personalInformationsPage_password,
.personalInformationsPage_passwordConfirm {
  background-image: url("../../icons/key.svg");
}

.personalInformationsPage_passwordContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.personalInformationsPage_showPassword {
  margin-left: -3rem;
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 1rem;
  top: 15%;
}
.personalInformationsPage_inputId,
.personalInformationsPage_passwordCondition {
  margin-bottom: 2rem;
  align-items: center;
}
.personalInformationsPage_passwordConfirmCondition,
.personalInformationsPage_passwordCondition {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  height: 2rem;
}
.personalInformationsPage_passwordConditionIcons {
  height: 2rem;
}

.personalInformationsPage_toggleSwitch {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 1rem;
}
.personalInformationsPage_toggleSwitch_respectAll,
.personalInformationsPage_toggleSwitch_isArtist,
.personalInformationsPage_toggleSwitch_legalAge,
.personalInformationsPage_toggleSwitch_respectCondition {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 1.5rem;
}
.personalInformationsPage_toggleSwitch_respectAll > p,
.personalInformationsPage_toggleSwitch_isArtist > p,
.personalInformationsPage_toggleSwitch_legalAge > p,
.personalInformationsPage_toggleSwitch_respectCondition > p {
  padding-left: 2rem;
}

.personalInformationsPage_submitButton {
  color: var(--background-color);
  background-color: var(--text-color);
  border: none;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.personalInformationsPage_submitButton:hover {
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid var(--accent-color);
  border-bottom: 4px solid var(--accent-color);
}

.personalInformationsPage_submitButton {
  width: 16rem;
  height: 4rem;
  padding: 2rem;
  font-size: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personalInformationsPage_showPassword > img {
  width: 2rem;
}
