.toggleSwitch_component {
  display: flex;
  align-items: center;
}

.toggleSwitch_input {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggleSwitch_label {
  cursor: pointer;
  text-indent: -9999px;
  width: 64px;
  height: 32px;
  background: var(--important-background-color);
  display: block;
  border-radius: 32px;
  position: relative;
}

.toggleSwitch_label:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 24px;
  height: 24px;
  background: var(--background-color);
  border-radius: 24px;
  transition: 0.3s;
}

.toggleSwitch_input:checked + .toggleSwitch_label {
  background: var(--validate-color);
}

.toggleSwitch_input:checked + .toggleSwitch_label:after {
  left: calc(100% - 4px);
  transform: translateX(-100%);
}

.toggleSwitch_label:active:after {
  width: 32px;
}
